<section class="section is-small">
    <div class="container is-fluid">
        <div class="columns is-centered">
            <div class="box column is-one-third" style="padding: 50px; box-shadow: 0 0 0 2px #ff7f518a;">
                <h1 class="title columns is-centered is-full">
                    <strong>{{restaurant.title}}</strong>
                        <span class="tag is-primary is-light rating-label">
                            {{restaurant.rating}}
                            &nbsp;
                            <i class="fas fa-star"></i>
                        </span>
                </h1>
                <br>
                <h2 class="subtitle is-5 columns is-centered">
                    {{restaurant.address}}
                </h2>
                <h3 class="subtitle is-5 columns is-centered">
                    {{restaurant.phone}}
                </h3>
            </div>
        </div>
        
       
    </div>
</section>

<section class="section is-small">
    <div class="container is-fluid">
        <h2 class="title is-4 columns is-centered">Reserve your meals now</h2>
        <br>
        <div class="columns">
            <div class="column is-one-fifth">
                <div class="box">
                    <h2 class="title is-4">Filters</h2>

                    <div class="field">
                        <button class="button is-light" [class.is-primary]="showVegetarian"
                            (click)="toggleFilter('vegetarian')">
                            Vegetarian
                        </button>
                    </div>

                    <div class="field">
                        <button class="button is-light" [class.is-primary]="showVegan" (click)="toggleFilter('vegan')">
                            Vegan
                        </button>
                    </div>

                    <div class="field">
                        <button class="button is-light" [class.is-primary]="showGlutenFree"
                            (click)="toggleFilter('glutenFree')">
                            Gluten Free
                        </button>
                    </div>

                    <!-- You can add more filter options here -->

                    <button class="button is-primary" (click)="applyFilters()">Apply Filters</button>
                </div>
            </div>

            <div class="column">
                <app-meal *ngFor="let meal of restaurant.meals" [title]="meal.title" [description]="meal.description"
                    [rating]="meal.rating" [zipcode]="meal.zipcode" [status]="meal.status" [calories]="meal.calories" [image]="meal.image" [isVegan]="meal.vegan" [isVeg]="meal.vegetarian"
                    [isGlutenFree]="meal.glutenFree" [restaurant]="restaurant" [fromRestaurant]=true></app-meal>
            </div>
        </div>
    </div>
</section>