<div class="rate">
  <input type="radio" id="star5" name="rate" value="5" (change)="onRatingChange(5)" />
  <label for="star5" title="5 stars">5 stars</label>
  <input type="radio" id="star4" name="rate" value="4" (change)="onRatingChange(4)" />
  <label for="star4" title="4 stars">4 stars</label>
  <input type="radio" id="star3" name="rate" value="3" (change)="onRatingChange(3)" />
  <label for="star3" title="3 stars">3 stars</label>
  <input type="radio" id="star2" name="rate" value="2" (change)="onRatingChange(2)" />
  <label for="star2" title="2 stars">2 stars</label>
  <input type="radio" id="star1" name="rate" value="1" (change)="onRatingChange(1)" />
  <label for="star1" title="1 star">1 star</label>
</div>
