<section class="section is-small">
    <div class="container is-fluid">
        <h1 class="title columns is-centered is-full">
            <strong>About Us</strong>
        </h1>
        <br>
        <h2 class="subtitle columns is-centered">
            Learn more about the story of FoodSaver 
        </h2>
    </div>
    <br>
    <br>
    <div class="aboutPage" >
        
        <h1 style="text-align: center;"><strong>Empowering Communities through Shared Meals</strong></h1>
            <br>
            <br>

            <strong>Introduction:</strong>
            Food Saver is an innovative web application committed to addressing food wastage and hunger in our communities. In an era where food scarcity coexists with wastefulness, Food Saver bridges the gap by transforming surplus food into nourishment for those in need.
            <br>
            <br>
            <strong>Our Mission:</strong>
            Our primary mission is to provide free, accessible meals to underprivileged individuals. We believe that no one should go hungry when there is enough food that often goes to waste. By partnering with local restaurants and food providers, we turn what would be waste into a resource for community welfare.
            <br>
            <br>
            <strong>How It Works:</strong>
            <br>
            <strong>For Restaurants:</strong> At the end of each day, participating restaurants often find themselves with surplus food that, unfortunately, is destined for the trash. Food Saver offers a sustainable and socially responsible alternative. Restaurants can list their surplus food items on our app, making them available to those in need.
            <br>
            <br>
            <strong>For Individuals:</strong> For individuals facing food insecurity, Food Saver is a beacon of hope. By simply entering their zip code on our app, they can locate nearby participating restaurants where they can obtain meals at no cost.
            <br>
            <br>
            <strong>Our Vision:</strong>
            We envision a world where food waste is significantly reduced, and every individual has access to the basic necessity of a nutritious meal. Food Saver is more than an app; it's a movement towards a more empathetic and sustainable society.
            <br>
            <br>
            <strong>Join Us:</strong>
            We invite restaurants and volunteers to join our cause. Together, we can make a substantial difference in the lives of many, turning surplus food into smiles and nourishment.
            

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <!-- <img class="image1" src="assets/IMG 1.png" alt="Image" > -->


    </div>
</section>
