<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/home">
      <h4 class="title is-4"> <strong>FoodSaver</strong></h4>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        
      </div>
  
      <div class="navbar-end">
        <a routerLink="/home" class="navbar-item">
          Home
        </a>
  
        <a class="navbar-item">
          About
        </a>
  
        <a class="navbar-item">
          Restaurants
        </a>
  
        <a routerLink="/partner" class="navbar-item">
          Become a Partner!
        </a>
        <div class="navbar-item">
          <div class="buttons">
            <a routerLink="/signup" class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a routerLink="/login" class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>