
<div class="card-content">
  <div>
      <div class="columns is-flex">
          <div class="column is-half">
              <p class="title is-4">{{ reservation.meal.title }}</p>
          </div>

          <div class="column">
              <div>
                  <span style="margin-right: 2px;" class="tag is-light is-pulled-right" *ngIf="reservation.meal.vegan">Vegan</span>
                  <span style="margin-right: 2px;" class="tag is-light is-pulled-right" *ngIf="reservation.meal.vegetarian">Vegetarian</span>
                  <span class="tag is-light is-pulled-right" *ngIf="reservation.meal.glutenFree">Gluten-Free</span>
              </div>
          </div>
      </div>

      <p><strong>Description:</strong> {{ reservation.meal.description }}</p>
      <br>
  </div>

  <div class="mt-3">
      <p><strong>Reservation Time:</strong> {{ reservation.reservationTime }}</p>
  </div>

  <div class="mt-3">
    <p class="subtitle is-6">
          <strong>Restaurant:</strong>
              {{ reservation.restaurant }}
            </p>
  </div>

  <div class="mt-3" *ngIf="!canceled">
      <button (click)="openCancelModal()" class="button is-primary">
          Cancel Reservation
      </button>
  </div>
</div>


<div class="modal" [ngClass]="{ 'is-active': isCancelModalActive }">
  <div class="modal-background" (click)="closeCancelModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Confirm Reservation Cancellation</p>
      <button class="delete" aria-label="close" (click)="closeCancelModal()"></button>
    </header>
    <section class="modal-card-body">
      <p>Are you sure you want to cancel this reservation?</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary" (click)="confirmCancel()">Confirm</button>
      <button class="button" (click)="closeCancelModal()">Cancel</button>
    </footer>
  </div>
</div>