<section class="section is-small">
    <div class="container is-fluid">
        <h1 class="title columns is-centered is-full">
            <strong>Restaurants</strong>
        </h1>
        <br>
        <h2 class="subtitle columns is-centered">
            Select your favorite Restaurants and order from them
        </h2>
        <br>
    </div>
</section>


<div class="container">
    <div class="columns is-multiline">
        <div class="column is-one-third zoom" *ngFor="let restaurant of restaurants; let i = index" (click)="onCardClick(restaurant)">
            <div class="card">
                <!-- Card Image -->
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img [src]="restaurant.image" alt="Placeholder image">
                    </figure>
                </div>
                <!-- Card Content -->
                <div class="card-content">
                    <!-- Media Content -->
                    <div class="media">

                        <div class="media-content">
                            <p class="title is-4">{{restaurant.title}}</p>
                        </div>
                    </div>
                    <!-- Text Content -->
                    <div class="content">
                        {{restaurant.address}}
                        {{restaurant.review}}
                        <br><br>
                        <p>3 miles away</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>