<section class="section is-small">
    <div class="container is-fluid">
        <h1 class="title columns is-centered is-full">
            <strong>Browse Meals</strong>
        </h1>
        <br>
        <h2 class="subtitle columns is-centered">
            Searching for meals in your area: {{zipcode}}
        </h2>
    </div>
    
    <br> <br>

    <div class="container">
      <app-meal></app-meal>
      <app-meal></app-meal>    
      <app-meal></app-meal>    
      <app-meal></app-meal>    
      <app-meal></app-meal>    
    </div>
</section>