<div class="columns">
    <div class="column">
      <div class="meal-card">
        <img class="meal-image" src="https://via.placeholder.com/200" alt="Meal Image">
        <div class="meal-details">
          <div class="meal-title">{{title}}</div>
          <div class="meal-description">{{description}}</div>
          <div class="reserve-button">
            <button class="button is-secondary">Go to Restaurant</button> &nbsp;
            <button class="button is-primary">Reserve</button>
          </div>
        </div>
        <div class="meal-rating">
          4.5
        </div>
      </div>
    </div>
  </div>