<div class="columns">
    <div class="column" style="height: 100%;">

        <section class="section-center">
            <h1 class="title">How it works</h1>
            <h2 class="subtitle">Reserve meals and make a difference</h2>
            <br>
            <a class="button is-primary">
                <strong>Get Started</strong>
            </a>
        </section>

        <div class="content">

            <br> <br>

            <div class="container">
                <div class="tile">
                    <div class="tile-icon">
                        <img src="assets/browse-icon.png" alt="Browse Icon" width="40">
                    </div>
                    <div class="tile-content">
                        <p class="tile-title">Browse Meals</p>
                        <p class="tile-subtitle">Find meals in your area</p>
                        <p>Use the search feature to locate restaurants offering surplus food near you.</p>
                    </div>
                </div>

                <div class="tile">
                    <div class="tile-icon">
                        <img src="assets/reserve-icon.png" alt="Reserve Icon" width="40">
                    </div>
                    <div class="tile-content">
                        <p class="tile-title">Reserve a Meal</p>
                        <p class="tile-subtitle">Choose from available options</p>
                        <p>Select a meal, reserve it for pickup at a specified time, and help reduce food waste.</p>
                    </div>
                </div>

                <div class="tile">
                    <div class="tile-icon">
                        <img src="assets/enjoy-icon.png" alt="Enjoy Icon" width="40">
                    </div>
                    <div class="tile-content">
                        <p class="tile-title">Enjoy Your Meal</p>
                        <p class="tile-subtitle">Nourish yourself and help others</p>
                        <p>Pickup your reserved meal and indulge in a delicious dining experience.</p>
                    </div>
                </div>

                <div class="tile">
                    <div class="tile-icon">
                        <img src="assets/rate-icon.png" alt="Rate Icon" width="40">
                    </div>
                    <div class="tile-content">
                        <p class="tile-title">Rate and Review</p>
                        <p class="tile-subtitle">Share your feedback</p>
                        <p>Provide ratings and reviews for the meals and the restaurants you visit.</p>
                    </div>
                </div>

                <div class="tile">
                    <div class="tile-icon">
                        <img src="assets/difference-icon.png" alt="Difference Icon" width="40">
                    </div>
                    <div class="tile-content">
                        <p class="tile-title">Make a Difference</p>
                        <p class="tile-subtitle">Fight against food waste</p>
                        <p>By using FoodSaver, restaurants contribute to reducing food waste and helping those in need.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="column is-half">
        <figure class="image is-2by3" style="height: 100%;">
            <img src="assets/howitworks.jpg" alt="" style="object-fit: cover; width: 100%; height: 70%;">
        </figure>
    </div> -->
</div>