<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-fifth">
        <figure class="image is-256x256" style="display: flex; align-items: center;">
          <img src="https://www.gravatar.com/avatar/?d=mp" alt="Profile Picture">
        </figure>
      </div>
      <div class="column">
        <h1 class="title">{{ user.fname }} {{ user.lname }}</h1>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Address:</strong> {{ user.address }}</p>
        <p><strong>Contact Info:</strong> {{ user.phone }}</p>
        <br>
        <div class="is-flex is-align-items-center" *ngIf="!isVerified && displayVerifyTag">
          <span class="tag is-warning is-light unverified-label">Unverified</span>
          <button class="button is-primary is-small" (click)="openModalGetVerified()">
            <span class="icon">
              <i class="fas fa-check"></i>
            </span>
            <span>Get Verified</span>
          </button>
        </div>

        <div class="is-flex is-align-items-center" *ngIf="isVerified && displayVerifyTag">
          <span class="tag is-success is-light unverified-label" style="font-size: 15px;">Verified</span>
        </div>
      </div>
    </div>

    <div class="tabs is-boxed">
      <ul>
        <!-- <li *ngIf="user.type=='user'" [class.is-active]="activeTab === 'History'" (click)="setActiveTab('History')">
          <a [ngStyle]="{'color': activeTab === 'History' ? '#720026' : ''}">History</a>
        </li> -->
        <li *ngIf="user.type=='user'" [class.is-active]="activeTab === 'Ongoing'" (click)="setActiveTab('Ongoing')">
          <a [ngStyle]="{'color': activeTab === 'Ongoing' ? '#720026' : ''}">Ongoing Reservations</a>
        </li>
        <li *ngIf="user.type=='user'" [class.is-active]="activeTab === 'Canceled'" (click)="setActiveTab('Canceled')">
          <a [ngStyle]="{'color': activeTab === 'Canceled' ? '#720026' : ''}">Canceled Reservations</a>
        </li>
        <li *ngIf="user.type=='user'" [class.is-active]="activeTab === 'Ongoing1'" (click)="setActiveTab('Ongoing1')">
          <a [ngStyle]="{'color': activeTab === 'Ongoing' ? '#720026' : ''}">Ongoing Waitlists</a>
        </li>
        <li *ngIf="user.type=='user'" [class.is-active]="activeTab === 'Canceled1'" (click)="setActiveTab('Canceled1')">
          <a [ngStyle]="{'color': activeTab === 'Canceled1' ? '#720026' : ''}">Canceled Waitlist</a>
        </li>
        <li *ngIf="user.type=='partner'" [class.is-active]="activeTab === 'MyRestaurants'" (click)="setActiveTab('MyRestaurants')">
          <a [ngStyle]="{'color': activeTab === 'MyRestaurants' ? '#720026' : ''}">My Restaurants</a>
        </li>
      </ul>
    </div>    

    <div *ngIf="activeTab === 'MyRestaurants'">
      <ul class="columns is-multiline">
        <li class="column is-one-third" *ngFor="let restaurant of myRestaurants">
          <div class="card">
            <div class="card-content">
              <!-- Flex container for aligning rating to the top right -->
              <div class="is-flex is-justify-content-space-between">
                <p class="title is-4">{{ restaurant.title }}</p>
                <!-- Rating in the top right corner -->
                <span class="tag is-primary is-light rating-label">
                  {{ restaurant.rating }}
                  &nbsp;
                  <i class="fas fa-star"></i>
                </span>
              </div>
              <p class="subtitle is-6">{{ restaurant.address }}</p>
              <p class="subtitle is-6">{{ restaurant.phone }}</p>
              <p class="subtitle is-6">{{ restaurant.email }}</p>
              <!-- Buttons to show and update meals -->
              <!-- <button class="button is-light" (click)="showMeals(restaurant)">
                Manage Meals
              </button> &nbsp; -->
              <button class="button is-primary" (click)="openModalMeal(restaurant)">
                Add Meals
              </button>
            </div>
          </div>
          <br>
        </li>
      </ul>
    </div>
    
    <div *ngIf="activeTab === 'Ongoing'">
      <ul class="columns is-multiline">
        <li class="column is-one-third" *ngFor="let reservation of ongoingReservations; let i=index">
          <div class="card is-fullheight">
            <app-reserve [reservation]="ongoingReservations[i]" style="margin-bottom: 10px;"></app-reserve>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="activeTab === 'Ongoing1'">
      <app-waitlist *ngFor="waitlisting of ongoingWaitlistings; let i=index" [waitlisting]="ongoingWaitlistings[i]" style="margin-bottom: 10px;"></app-waitlist>
    </div>

    <div *ngIf="activeTab === 'Canceled'">
      <ul class="columns is-multiline">
        <li class="column is-one-third" *ngFor="let reservation of canceledReservations; let i=index">
          <div class="card is-fullheight">
            <app-reserve [canceled]=true [reservation]="canceledReservations[i]" style="margin-bottom: 10px;"></app-reserve>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Modal Get Verified structure -->
<div class="modal" [ngClass]="{ 'is-active': modalVerifyIsActive }">
  <div class="modal-background" (click)="closeModalGetVerified()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Get Verified</p>
      <button class="delete" aria-label="close" (click)="closeModalGetVerified()"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <p>Please upload any proof of income</p>

      <div class="control">
        <input #proofOfIncome name="proofOfIncome" ngModel class="input" type="file" accept=".pdf, .jpg, .png"
            required>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary" (click)="saveChanges()" [disabled]="!proofOfIncome.files?.length">Save changes</button>
      <button class="button" (click)="closeModalGetVerified()">Cancel</button>
    </footer>
  </div>
</div>

<!-- Modal Add meals structure -->
<div class="modal" [ngClass]="{ 'is-active': modalMealIsActive }">
  <div class="modal-background" (click)="closeModalMeal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add a meal</p>
      <button class="delete" aria-label="close" (click)="closeModalMeal()"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <p>Let's help the needy! Fill out the details below to add a meal</p>
      <app-addmeal [restaurantTitle]="selected" (close)="mealAdded($event)"></app-addmeal>
    </section>
    <footer class="modal-card-foot">
      <!-- <button class="button is-primary" (click)="saveMealChanges()">Save changes</button> -->
      <button class="button" (click)="closeModalMeal()">Cancel</button>
    </footer>
  </div>
</div>
