<!--Welcome and Featured Meals-->
<section class="section is-medium mb-3">
    <div class="container is-fluid">
      <h1 class="title is-1 columns is-centered is-full">
        <strong>Welcome to FoodSaver!</strong>
      </h1>
      <br>
      <h2 class="subtitle columns is-centered">
        Bridge the gap and reduce food waste!
      </h2>
  
      <br>
      <div class="prompt-container">
        <h1 class="prompt-text">Are you hungry!</h1>
        
        <img class="hungry1" src="assets/hungry.png">
      </div>
      <br>
      <div class="columns is-centered is-vcentered">
        <input class="input custom-input" type="text" placeholder="Enter your zipcode to find nearby meals">
      </div>
 
      <br>
      <div class="columns is-centered">
        <button class="button is-light"> Learn More</button> &nbsp; &nbsp;
        <button routerLink="/browse-meals" class="button is-primary">Find Meals</button>
      </div>
  
    </div>
    <br><br>
    <hr>
  </section>
  
    <section class="section section-center" style="margin-top: -8.5rem;">
      <h1 class="title">Featured Meals</h1>
      <p class="subtitle">Delicious meals available for reservation</p>
      <button routerLink="/browse-meals" class="button is-primary">See All</button>
  
      <br>
  
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="tile is-child box">
            <figure class="image is-4by3">
              <img src="assets/rice.jpg" alt="Meal 1">
            </figure>
            <br>
            <p class="title is-4">Healthy Rice Bowl</p>
            <button class="button is-primary">Reserve Now</button>
          </article>
        </div>
  
        <div class="tile is-parent">
          <article class="tile is-child box">
            <figure class="image is-4by3">
              <img src="assets/avocado.jpg" alt="Meal 2">
            </figure>
            <br>
            <p class="title is-4">Avocado Deli Soup</p>
            <button class="button is-primary">Reserve Now</button>
          </article>
        </div>
  
        <div class="tile is-parent">
          <article class="tile is-child box">
            <figure class="image is-4by3">
              <img src="assets/tofu.jpg" alt="Meal 3">
            </figure>
            <br>
            <p class="title is-4">Tofu Curry</p>
            <button class="button is-primary">Reserve Now</button>
          </article>
        </div>
      </div>
  
    </section>
  
  <!-- Impact Stats-->
<h1 class="title columns is-centered">Impact Statistics</h1>
<br>
<nav class="level is-mobile">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Meals Reserved</p>
        <p class="title">3,456</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Food Wastage Reduction</p>
        <p class="title">350kg</p>
      </div>
    </div>
  </nav>
  <br><br>
  <!--How it works-->
  <app-howitworks></app-howitworks>
  <hr>
  <!--Reviews Home-->

<section class="section-center">
  <h1 class="title">User Reviews</h1>
  <h2 class="subtitle">See what others are saying about FoodSaver</h2>
</section>

<section class="section is-small">
<div class="container is-fluid">
  <div class="columns">
    <div class="column is-one-third">
        <article class="media media-card">
            <figure class="media-left">
              <p class="image is-64x64">
                <img class="is-rounded" src="assets/gr.jpeg">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Gordon Ramsay</strong> &nbsp; <small>@gordonramsay</small> &nbsp; <small>31m</small>
                  <br>
                  Great App! Found amazing meals and highly recommend it.
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-reply"></i></span>
                  </a>
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                  </a>
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                  </a>
                </div>
              </nav>
            </div>
            <div class="media-right">
            </div>
          </article>
    </div>
    <div class="column">
        <article class="media media-card">
            <figure class="media-left">
              <p class="image is-64x64">
                <img class="is-rounded" src="assets/ja.jpeg">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>José Andrés</strong>&nbsp;  <small>@joseandres</small>&nbsp;  <small>31m</small>
                  <br>
                 FoodSaver has made a big difference in my community. Love the concept.
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-reply"></i></span>
                  </a>
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                  </a>
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                  </a>
                </div>
              </nav>
            </div>
            <div class="media-right">
            </div>
          </article>
    </div>
    <div class="column">
        <article class="media media-card">
            <figure class="media-left">
              <p class="image is-64x64">
                <img class="is-rounded" src="assets/bf.jpeg">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Bobby Flay</strong> &nbsp; <small>@bobbyflay</small>&nbsp;  <small> 31m</small>
                  <br>
                  Easy to use, and the meals are always delicious. Thank you FoodSaver!
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-reply"></i></span>
                  </a>
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                  </a>
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                  </a>
                </div>
              </nav>
            </div>
            <div class="media-right">
            </div>
          </article>
    </div>
  </div>
</div>
</section>
